.holidayIcon {
animation: colorChangePulseScale 12s infinite;
}
@keyframes colorChangePulseScale {
  0% {
    color: #ffa500;
    transform: scale(1);
  }
  33% {
    color: #f5e6ca;
    transform: scale(1.13);
  }
  66% {
    color: #ffa500;
    transform: scale(1.2);
  }
  100% {
    color: #e3d9c8;
    transform: scale(1);
  }
}

 