.canvasWrapper {
  width: 200px;
  height: 200px;
  margin: -2rem auto -2rem;
  z-index: -1;
}
@media screen and (max-width: 916px) and (max-height: 420px) and (orientation: landscape) {
  .canvasWrapper {
    display: none;
  }
  
}
canvas {
  position: relative;
  display: flex;
  justify-content: center;
}
