.holidayIcon {
animation: colorChangePulseScale 12s infinite;
}
@keyframes colorChangePulseScale {
  0% {
    color: green;
    transform: scale(1);
  }
  33% {
    color: orangered;
    transform: scale(1.13);
  }
  66% {
    color: purple;
    transform: scale(1.2);
  }
  100% {
    color: blue;
    transform: scale(1);
  }
}
.timerStyles {
  color: orange;
  font-style: italic;
  font-size: 1.3rem;
  letter-spacing: 2px;
  text-shadow: 1px 1px 0 black;
  font-family: "LibreBaskerville-Regular", Times, serif;
  margin-bottom: 15px;
}
.timerStylesSmall {
  font-family:   "LibreBaskerville-Regular", Times, serif;
  color: aliceblue;
  text-shadow: 1px 1px 0 #000;
  font-size: 55%;
  margin-bottom: 15px;
}
.timerStylesSmall:hover {
  color: green;
}
#demo {
  padding: 2px;
  text-shadow: #151515 0.5px 0.5px;
  white-space: nowrap;
  letter-spacing: 0.15px;
  margin-right: 1.5rem;
  margin-bottom: 15px;
}

.timerStylesFinished1 {
  color: red;
  font-style: italic;
  font-size: 1rem;
  letter-spacing: 2px;
  text-shadow: 1px 1px 0 black;
  font-family: "LibreBaskerville-Regular";
  letter-spacing: 3px;
}







.timerStylesFinished2 {
  color: red;
  font-style: italic;
  font-size: 1rem;
  letter-spacing: 2px;
  text-shadow: 1px 1px 0 black;
  font-family: "LibreBaskerville-Regular", Times, serif;
  margin-bottom: 15px;
}
.timerStylesFinished3 {
  color: red;
  font-style: italic;
  font-size: 1rem;
  letter-spacing: 2px;
  text-shadow: 1px 1px 0 black;
  font-family: "LibreBaskerville-Regular", Times, serif;
  margin-bottom: 15px;
}

@media screen and (min-width: 320px) {
  .timerStyles {
    font-size: 1rem;
  }
  .timerStylesSmall {
    font-size: 1rem;
  }
  .timerStylesFinished1 {
    font-size: 1rem;
  }
  .timerStylesFinished2 {
    font-size: 1rem;
  }
  .timerStylesFinished3 {
    font-size: 1rem;
  }
}
@media screen and (min-width: 420px) {
  .timerStyles {
    font-size: 1.2rem;
  }
  .timerStylesSmall {
    font-size: 1.2rem;
  }
  .timerStylesFinished1 {
    font-size: 1.2rem;
  }
  .timerStylesFinished2 {
    font-size: 1.2rem;
  }
  .timerStylesFinished3 {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 785px) and (orientation: landscape) and (min-height: 375px) {
  .timerStyles {
    font-size: 1.9rem;
  }
  .timerStylesSmall {
    font-size: 2rem;
  }
  .timerStylesFinished1 {
    font-size: 2rem;
  }
  .timerStylesFinished2 {
    font-size: 2rem;
  }
  .timerStylesFinished3 {
    font-size: 2rem;
  }
}

.clockIcon {
  font-size: 1.5rem;
  color: #e6c587;
  text-shadow: 1px 1px 0 black;
  padding: 2px;
  margin-right: 0.25rem;
  
}

@media screen and (max-width: 500px) {
  .demoWrapper {
    letter-spacing: 3px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    text-shadow: #151515 0.5px 0.5px;
    font-weight: 400;
    text-decoration: none;
    margin-bottom: 15px;
  }
}

.dataToolTip82:hover::before,
.dataToolTip82:hover::after {
  --scale: 1;
}
.dataToolTip82::before {
  content: attr(data-tool-tip);
  background: radial-gradient(rgb(226, 222, 222),  #b17065);
  width: max-content;
  position: absolute;
  content: attr(data-tool-tip);
  padding: 0.1em 0.1em 0.2em 0.1em;
  transform: translateX(-50%) scale(var(--scale));
  transform-origin: right;
  transition: ease-in 0.25s;
  top: 0.59rem;

  right: 3.1rem;
  border: 1px solid salmon;
  border-radius: 10px;
  color: rgb(195, 22, 22);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 3px;
  padding-bottom: 3px;
  --scale: 0;
  z-index: 51;
}

.dataToolTip82::after {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  padding: 0.1em 0.1em 0.1em 0.1em;
  transform: translateX(-50%) scale(var(--scale));
  transform-origin: left;
  transition: 0.35s;
  top: 0.5rem;
  right: 7.9rem;
  border: 15px solid transparent;
  border-left: salmon 10px solid;
  border-radius: 15px;

  --scale: 0;
  z-index: 49;
}

.dataToolTip81:hover::before,
.dataToolTip81:hover::after {
  --scale: 1;
}
.dataToolTip81::before {
  content: attr(data-tool-tip);
  background: radial-gradient(rgb(226, 222, 222), #b17065);
  width: max-content;
  position: absolute;
  content: attr(data-tool-tip);
  padding: 0.1em 0.1em 0.2em 0.1em;
  top: 0.59rem;
 
  left: 17.3rem;
  transform: translateX(-50%) scale(var(--scale));
  transform-origin: left;
  transition: ease-in 0.25s;
  border: 1px solid salmon;
  border-radius: 10px;
  color: rgb(195, 22, 22);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 3px;
  padding-bottom: 3px;
  --scale: 0;
  z-index: 50;
}

.dataToolTip81::after {
  content: "";

  width: 15px;
  height: 15px;
  position: absolute;
  padding: 0.1em 0.1em 0.1em 0.1em;
  transform: translateX(-50%) scale(var(--scale));
  transform-origin: right;
  transition: 0.35s;
  top: 0.5rem;
  left: 9.28rem;
  bottom: 0.8rem;
  border: 15px solid transparent;
  border-right: salmon 10px solid;
  border-radius: 15px;

  --scale: 0;
  z-index: 49;
}
/* .forward {
  transform: scaleX(-1);
} */
.rewind {
  transform: scaleX(-1);
}

@media screen and (max-width:685px) {
  .dataToolTip81::before,
  .dataToolTip81::after,
  .dataToolTip82::before,
  .dataToolTip82::after {
    display: none;
  }
}

/* 
xxxxx easter eyeball css xxxxx */

.canvasWrapper {
  width: 200px;
height: 200px;
margin: -2rem  auto -2rem;
z-index: -1;
}



canvas {
position: relative;
display: flex;
justify-content: center;





}  
