.wall-sconce {
  position: relative;
   background: rgba(0, 0, 0, 0.075);
   padding-top: .75rem;
   padding-bottom: .75rem;
   border:2px solid rgba(0, 0, 0, 0.1);
   border-radius:50%;
   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  
}

.flame {
  width: 100%;
  height: auto;
  animation: subtleGlow 2.9s infinite ease-in-out;
}

@keyframes subtleGlow {
  0% { filter: brightness(1); }
  50% { filter: brightness(1.2); }
  100% { filter: brightness(1); }
}
