.wall-sconce {
  position: relative;
  background: #1f1f1f ;
  padding-top: 0.75rem;

  border: 1px solid rgba(119, 120, 124, 0.5);
  border-top-left-radius: 45%;
  border-top-right-radius: 45%;
  border-bottom-left-radius: 15%;
  border-bottom-right-radius:15%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.flame {
  width: 100px;
  height: auto;
   animation: flickerGlow 1.35s infinite ease-in-out;
  transition: opacity 0.2s ease, filter 0.2s ease;

}

@keyframes flickerGlow {
  0%   { opacity: 0.9; filter: brightness(1); }
  20%  { opacity: 1; filter: brightness(1.01); }
  40%  { opacity: 0.85; filter: brightness(0.99); }
  60%  { opacity: 1; filter: brightness(1.01); }
  80%  { opacity: 0.88; filter: brightness(1); }
  100% { opacity: 1; filter: brightness(1.01); }
}