

.GoBackToMineButtonWrapper {
  animation: slideInDelay 0.8s ease-out 0.5s both;
}

@keyframes slideInDelay {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


.opacity-0 {
  opacity: 0;
  pointer-events: none;
}

.opacity-100 {
  opacity: 1;
}
