@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  background-image: linear-gradient(
    rgba(55, 124, 177, 1) 15%,
    rgba(65, 79, 91, 1) 60%-80%,
    rgba(151, 145, 144, 1) 100%
  );
}

@font-face {
  font-family: "Creepster";
  src: url(../GoogleFonts/Creepster-Regular.ttf);
}
.Creepster {
  font-family: "Creepster";
}

@font-face {
  font-family: "DM_Serif_Display";
  src: url(../GoogleFonts/DMSerifDisplay-Regular.ttf);
}
.DMSerifDisplay {
  font-family: "DM_Serif_Display";
}

@font-face {
  font-family: "Itim";
  src: url(../GoogleFonts/Itim-Regular.ttf);
}
.Itim {
  font-family: "Itim";
}
  
@font-face {
  font-family: "Kranky";
  src: url(../GoogleFonts/Kranky-Regular.ttf);
}
.Kranky {
  font-family: "Kranky";
}  
@font-face {
  font-family: "KingThings";
  src: url(../GoogleFonts/Kingthings_Petrock.ttf);
}
.Kingthings {
  font-family: "Kingthings";
}

@font-face {
  font-family: "Libre_Baskerville";
  src: url(../GoogleFonts/LibreBaskerville-Regular.ttf);
}
.LibreBaskerville {
  font-family: "Libre_Baskerville";
}

@font-face {
  font-family: "PT_Serif";
  src: url(../GoogleFonts/PTSerif-Regular.ttf);
}
.PTSerif {
  font-family: "PT_Serif";
}

@font-face {
  font-family: "Rye";
  src: url(../GoogleFonts/Rye-Regular.ttf);
}
.Rye {
  font-family: "Rye";
}

@font-face {
  font-family: "Black_ops_one";
  src: url(../GoogleFonts/BlackOpsOne-Regular.ttf);
}
.BlackOpsOne {
  font-family: "Black_ops_one";
}

@font-face {
  font-family: "Caprasimo";
  src: url(../GoogleFonts/Caprasimo-Regular.ttf);
}
.Caprasimo {
  font-family: "Caprasimo";
}

@font-face {
  font-family: "Archivo_Black";
  src: url(../GoogleFonts/ArchivoBlack-Regular.ttf);
}
.ArchivoBlack {
  font-family: "Archivo_Black";
}

@font-face {
  font-family: "Metal_Mania";
  src: url(../GoogleFonts/MetalMania-Regular.ttf);
}
.MetalMania {
  font-family: "Metal_Mania";
}

@font-face {
  font-family: "Nosifer";
  src: url(../GoogleFonts/Nosifer-Regular.ttf);
}
.Nosifer {
  font-family: "Nosifer";
}

@font-face {
  font-family: "Holtwood_one_sc";
  src: url(../GoogleFonts/HoltwoodOneSC-Regular.ttf);
}
.HoltwoodOneSC {
  font-family: "Holtwood_one_sc";
}

@font-face {
  font-family: "Orbitron";
  src: url(../GoogleFonts/Orbitron-VariableFont_wght.ttf);
}
.Orbitron {
  font-family: "orbitron";
}

@font-face {
  font-family: "Sixtyfour";
  src: url(../GoogleFonts/Sixtyfour-Regular-VariableFont_BLED\SCAN.ttf);
}
.Sixtyfour {
  font-family: "Sixtyfour";
}