.holidayIcon {
animation: colorChangePulseScale 3s infinite;
}
@keyframes colorChangePulseScale {
  0% {
    color: green;
    transform: scale(1);
  }
  33% {
    color: greenyellow;
    transform: scale(1.13);
  }
  66% {
    color: green;
    transform: scale(1.2);
  }
  100% {
    color: lightgreen;
    transform: scale(1);
  }
}

 