.holidayIcon {
  animation: colorChangePulseScale 12s infinite;
}
@keyframes colorChangePulseScale {
  0% {
    color: olivedrab;
    transform: scale(1);
  }
  33% {
    color: limegreen;
    transform: scale(1.13);
  }
  66% {
    color: olivedrab;
    transform: scale(1.2);
  }
  100% {
    color: limegreen;
    transform: scale(1);
  }
}
