.dataToolTip82:hover::before,
.dataToolTip82:hover::after {
  --scale: 1;
}
.dataToolTip82::before {
  content: attr(data-tool-tip);
  background: radial-gradient(#535a47, #d9d4c3);
  width: max-content;
  position: absolute;
  content: attr(data-tool-tip);
  padding: 0.1em 0.1em 0.2em 0.1em;
  transform: translateX(-50%) scale(var(--scale));
  transform-origin: right;
  transition: ease-in 0.25s;
  top: 0.59rem;

  right: 4.8rem;
  border: 1px solid #535a47;
  border-radius: 10px;
  color: whitesmoke;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 3px;
  padding-bottom: 3px;
  --scale: 0;
  z-index: 51;
}

.dataToolTip82::after {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  padding: 0.1em 0.1em 0.1em 0.1em;
  transform: translateX(-50%) scale(var(--scale));
  transform-origin: left;
  transition: 0.35s;
  top: 0.5rem;
  right: 7.9rem;
  border: 15px solid transparent;
  border-left: #535a47 10px solid;
  border-radius: 15px;

  --scale: 0;
  z-index: 49;
}

.dataToolTip81:hover::before,
.dataToolTip81:hover::after {
  --scale: 1;
}
.dataToolTip81::before {
  content: attr(data-tool-tip);
  background: radial-gradient(#535a47, #d9d4c3);
  width: max-content;
  position: absolute;
  content: attr(data-tool-tip);
  padding: 0.1em 0.1em 0.2em 0.1em;
  top: 0.59rem;

  left: 17.3rem;
  transform: translateX(-50%) scale(var(--scale));
  transform-origin: left;
  transition: ease-in 0.25s;
  border: 1px solid #535a47;
  border-radius: 10px;
  color: whitesmoke;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 3px;
  padding-bottom: 3px;
  --scale: 0;
  z-index: 50;
}

.dataToolTip81::after {
  content: "";

  width: 15px;
  height: 15px;
  position: absolute;
  padding: 0.1em 0.1em 0.1em 0.1em;
  transform: translateX(-50%) scale(var(--scale));
  transform-origin: right;
  transition: 0.35s;
  top: 0.5rem;
  left: 11.58rem;
  bottom: 0.8rem;
  border: 15px solid transparent;
  border-right: #535a47 10px solid;
  border-radius: 15px;

  --scale: 0;
  z-index: 49;
}
/* .forward {
  transform: scaleX(-1);
} */
.rewind {
  transform: scaleX(-1);
}

@media screen and (max-width: 550px) {
  .dataToolTip81::before,
  .dataToolTip81::after,
  .dataToolTip82::before,
  .dataToolTip82::after {
    display: none;
  }
}
