.timerStyles {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #e2d8d4;
    
    font-size: 2rem; 
    font-weight: bold; 
    text-shadow: 1px 1px 0 #000;
  ;
} 

 .timerStylesFinished1 {
   color: red;
   font-style: italic;
   font-size: 2rem; 
   font-weight: bold; 
   text-shadow: 1px 1px 0 black;
}
 .timerStylesFinished2 {
   color: white;
   font-style: italic;
   font-size: 2rem; 
   font-weight: bold; 
   text-shadow: 1px 1px 0 black;
}
 .timerStylesFinished3 {
   color: blue;
   font-style: italic;
   font-size: 2rem; 
   font-weight: bold; 
   text-shadow: 1px 1px 0 black;
}





.outerDemoWrapper {
   position: fixed;
   top: 1rem;
   right: 3rem;
   padding: 2px;
    
   width: 18rem;
 }
 
 
 
 .demoWrapper {
   position: relative;
   display: flex;
   justify-content: start;
   align-items: center;
   letter-spacing: 3px;
   position: relative;
   width: -moz-fit-content;
   width: fit-content;
   text-align: center;
   font-weight: 500;
   text-decoration: none;
   text-shadow: #151515 0.5px 0.5px;
   padding-inline: 1rem;
   
   
 }
 
 #demo {
   position: relative;
   padding: 2px;
   text-shadow: #151515 0.5px 0.5px;
   white-space: nowrap;
   letter-spacing: 0px;
   
 }
@media screen and (max-width: 500px) {
   .outerDemoWrapper {
     letter-spacing: 3px;
     position: fixed;
     display: flex;
     left: 50%;
     transform: translate(-50%);
     width: -moz-fit-content;
     width: fit-content;
     height: -webkit-max-content;
     height: -moz-max-content;
     height: max-content;
     text-shadow: #151515 0.5px 0.5px;
     font-weight: 400;
     text-decoration: none;
     margin-top: 5rem;
   }
 }