.timerStyles {
  color: #e6c587;
  font-style: italic;
  font-size: 2.4rem;
  letter-spacing: 2px;
  text-shadow: 1px 1px 0 black;
  font-family: "Kingthings_Petrock";
}
.timerStylesSmall {
  font-family: Aclonica-Regular, "Aclonica-Regular", Times, serif;
  color: orange;
  text-shadow: 1px 1px 0 #000;
  font-size: 55%;
}

#demo {
  padding: 2px;
  text-shadow: #151515 0.5px 0.5px;
  white-space: nowrap;
  letter-spacing: 0.15px;
  margin-right: 1.5rem;
}

.timerStylesFinished1 {
  color: orange;
  font-style: italic;
  font-size: 3.4rem;
  letter-spacing: 2px;
  text-shadow: 1px 1px 0 black;
  font-family: "Kingthings_Petrock";
  letter-spacing: 3px;
}
.timerStylesFinished2 {
  color: #e6c587;
  font-style: italic;
  font-size: 2rem;
  letter-spacing: 2px;
  text-shadow: 1px 1px 0 black;
  font-family: "Creepster-Regular";
}
.timerStylesFinished3 {
  color: #e6c587;
  font-style: italic;
  font-size: 2rem;
  letter-spacing: 2px;
  text-shadow: 1px 1px 0 black;
  font-family: "Creepster-Regular";
}

.clockIcon {
  font-size: 1.5rem;
  color: #e6c587;
  text-shadow: 1px 1px 0 black;
  padding: 2px;
  margin-right: 0.25rem;
}

@media screen and (max-width: 500px) {
  .demoWrapper {
    letter-spacing: 3px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    text-shadow: #151515 0.5px 0.5px;
    font-weight: 400;
    text-decoration: none;
  }
}
